$enable-responsive-font-sizes: true !default;

$font-family: "Roboto", "Arial","Helvetica", "sans-serif" !important;

$transparent: transparent;
$white: #FFFFFF;
$black: #000000;
$apple: #65B931;
$denim: #1970B1;
$dark-cerulean: #085387;
$summer-sky: #2EA3F2;
$white-smoke: #F7F7F7;
$gainsboro: #E2E2E2;
$dim-gray: #666666;
$muntain-meadow: #24B67A;